<h1>Lista de clientes</h1>

<table border=1>
  <tr>
    	<td width='200'>Nome</td>
    	<td width='100'>Cpf</th></td>
    	<td width='100'>Identidade</th></td>
    	<td width='100'>Email</th></td>
    	<td width='100'>Telefone</th></td>
    	<td width='100'></td>
    	<td width='100'></td>
    	<td width='100'></td>
  </tr>

<% @clientes.each do |cliente| %>
  <tr>
    <td ><%= cliente.nome %></td>
    <td ><%= cliente.cpf %></td>
    <td ><%= cliente.identidade %></td>
    <td ><%= cliente.email %></td>
    <td ><%= cliente.telefone %></td>
    <td ><%= link_to 'Exibir', cliente %></td>
    <td ><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
    <td ><%= link_to 'Excluir', cliente, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Cadastrar Cliente', new_cliente_path %>
