<%= form_for(@orcamento) do |f| %>
  <% if @orcamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@orcamento.errors.count, "error") %> prohibited this orcamento from being saved:</h2>

      <ul>
      <% @orcamento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :telefone %><br />
    <%= f.text_field :telefone %>
  </div>
  <div class="field">
    <%= f.label :valor_total %><br />
    <%= f.text_field :valor_total %>
  </div>
  <% i = 1; %>
  <% for produto in Produto.find(:all) %>
    <%= check_box_tag "orcamento[produto_ids][]", produto.id, @orcamento.produtos.include?(produto)  %> <%= produto.nome %>
    <% if (i % 5) == 0 %>
      <br /> 
    <% end %>
    <% i = i + 1 %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
