<h1>Listing orcamentos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Telefone</th>
    <th>Usuario</th>
    <th>Data</th>
    <th>Valor total</th>
    <th>Produtos</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orcamentos.each do |orcamento| %>
  <tr>
    <td><%= orcamento.nome %></td>
    <td><%= orcamento.email %></td>
    <td><%= orcamento.telefone %></td>
    <td><%= orcamento.usuario_id %></td>
    <td><%= orcamento.data %></td>
    <td><%= orcamento.valor_total %></td>
    <td><%= orcamento.produto_ids %></td>
    <td><%= link_to 'Show', orcamento %></td>
    <td><%= link_to 'Edit', edit_orcamento_path(orcamento) %></td>
    <td><%= link_to 'Destroy', orcamento, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Orcamento', new_orcamento_path %>
