<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @orcamento.nome %>
</p>

<p>
  <b>Email:</b>
  <%= @orcamento.email %>
</p>

<p>
  <b>Telefone:</b>
  <%= @orcamento.telefone %>
</p>

<p>
  <b>Usuario:</b>
  <%= @orcamento.usuario.nome %>
</p>

<p>
  <b>Data:</b>
  <%= @orcamento.created_at.year %>
</p>

<p>
  <b>Valor total:</b>
  <%= @orcamento.valor_total %>
</p>

<p>
  <b>Produtos:</b>
  <%= @orcamento.produto_ids %>
</p>

<%= link_to 'Edit', edit_orcamento_path(@orcamento) %> |
<%= link_to 'Back', orcamentos_path %>
