<h2>Login</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label "Usuário" %><br />
  <%= f.text_field :login %></div>

  <div><%= f.label "Senha" %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label "Permanecer logado" %></div>
  <% end -%>

  <div><%= f.submit "Submeter" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
