<%= form_for(@venda) do |f| %>
  <% if @venda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venda.errors.count, "error") %> prohibited this venda from being saved:</h2>

      <ul>
      <% @venda.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cliente_id %><br />
    <%= f.collection_select(:cliente_id,Cliente.order("nome"), :id, :nome, {:prompt=>true}) %>
  </div>
  <div class="field">
    <%= f.label :produto_id %><br />
    <%= f.collection_select(:produto_id,Produto.order("nome"), :id, :nome, {:prompt=>true})  %>
  </div>
  <div class="field">
    <%= f.label :usuario_id %><br />
    <%= f.collection_select(:usuario_id,Usuario.order("nome"), :id, :nome, {:prompt=>true}) %>
  </div>
  <div class="field">
    <%= f.label :valor_da_venda %><br />
    <%= f.text_field :valor_da_venda %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
